body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #000000;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.hero {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  /* background-color: rgb(65, 133, 133); */

}

.hero__inner {
  position: relative;
  height: 100%;
  width: 100%;
  /* transform: translateY(200%);
  transition: transform 2s cubic-bezier(.215, .61, .355, 1); */
}

/* .hero.is-init .hero__inner {
  transform: translateY(0) rotateX(0);
  opacity: 1;
} */

/* .is-init {
  transform: translateY(0);
} */

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

canvas#threeCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
}

.second-div {
  height: 200vh;
  width: 100%;
  z-index: 3;
  color: aliceblue;
}

.heroHeadline {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 115;
  opacity: 1;
}

.heroHeadline h1 {
  margin: 0.05em;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 66;
  color: white;
  text-align: center;

}

.heroHeadline h5 {
  color: white;
  text-align: center;
  margin: 0;
}

@media screen and (min-width:320px) {
  .heroHeadline h1 {
    font-size: calc(10px + 108 * (100vw - 320px) / 1080);
    line-height: calc(10px + 108 * (100vw - 320px) / 1080);
  }
}

@media screen and (min-width:320px) {
  .heroHeadline h5 {
    font-size: calc(13px + 14*(100vw - 320px)/1080);
    line-height: calc(13px + 14*(100vw - 320px)/1080);

  }
}

.hero-button {
  background: none;
  border: none;
  box-shadow: none;
  background: #000;
  border-radius: 50%;
  bottom: 24px;
  height: 48px;
  width: 48px;
  position: absolute;
  padding: 0;
  bottom: 48px;
  pointer-events: auto;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s cubic-bezier(.645, .045, .355, 1)
}

@media(min-width:46.25em) {
  .hero-button {
    bottom: 32px;
    height: 48px;
    width: 48px
  }
}

@media(min-width:61.25em) {
  .hero-button {
    bottom: 32px;
    height: 58px;
    width: 58px
  }
}

@media(min-width:75em) {
  .hero-button {
    bottom: 48px
  }
}

.hero-button img {
  transform: rotate(90deg) translateX(20%)
}

.hero.is-init .hero-button {
  opacity: 1;
  transition-delay: 1s
}

body.is-loading {
  overflow: hidden;
  height: 100vh;
}


.loader-visual {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1s ease;
}

.loader-visual__logo img {
  opacity: 0.7;
}

.loader-visual__bar {
  width: 60%;
  height: 4px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  overflow: hidden;
  border-radius: 4px;
}

.loader-visual__fill {
  width: 0%;
  height: 100%;
  background: white;
  transition: width 0.2s linear;
}

.loader-visual__start.hidden {
  opacity: 0;
  pointer-events: none;
}

.loader-visual__start {
  margin-top: 40px;
  transition: opacity 0.5s ease;
}

.loader-visual__button {
  background: white;
  color: black;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.intro-section {
  margin-top: 400px;
  position: relative;
  background: transparent;
  /* background-color: aqua; */
}

.text-3d {}

h2.is-large {
  font-size: 84px;
  line-height: 84px;
  /* opacity: 1; */
}

@media screen and (min-width:320px) {
  h2.is-large {
    font-size: calc(84px + 56*(100vw - 320px)/1080);
    line-height: calc(84px + 56*(100vw - 320px)/1080);
    margin: 0;
  }
}

@media screen and (min-width:1400px) {
  h2.is-large {
    font-size: 140px
  }
}

#shell {
  position: relative;
  width: 100%;
  transform-origin: 0 0;
  will-change: transform;
  background-color: yellowgreen;
}


.scroll-area {
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reveal-text {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  white-space: nowrap;
  transform-origin: right;
  --reveal: 0%;


  /* -webkit-mask-image: linear-gradient(to right,
      transparent calc(var(--reveal) - 90%),
      rgba(0, 0, 0, 0.6) calc(var(--reveal) - 90%),
      black var(--reveal));
  mask-image: linear-gradient(to right,
      transparent calc(var(--reveal) - 45%),
      rgb(255, 255, 255) var(--reveal));
  filter: blur(var(--blur));

  transition: --reveal 0.10s ease-out; */
}