body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #000000;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.hero {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  /* background-color: rgb(65, 133, 133); */

}

.hero__inner {
  position: relative;
  height: 100%;
  width: 100%;
  /* transform: translateY(200%);
transition: transform 2s cubic-bezier(.215, .61, .355, 1); */
}

/* .hero.is-init .hero__inner {
transform: translateY(0) rotateX(0);
opacity: 1;
} */

/* .is-init {
transform: translateY(0);
} */

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

canvas#threeCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
}

.second-div {
  height: 200vh;
  width: 100%;
  z-index: 3;
  color: aliceblue;
}

.heroHeadline {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 115;
  opacity: 1;
}

.heroHeadline h1 {
  margin: 0.05em;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 66;
  color: white;
  text-align: center;

}

.heroHeadline h5 {
  color: white;
  text-align: center;
  margin: 0;
}

@media screen and (min-width:320px) {
  .heroHeadline h1 {
    font-size: calc(10px + 108 * (100vw - 320px) / 1080);
    line-height: calc(10px + 108 * (100vw - 320px) / 1080);
  }
}

@media screen and (min-width:320px) {
  .heroHeadline h5 {
    font-size: calc(13px + 14*(100vw - 320px)/1080);
    line-height: calc(13px + 14*(100vw - 320px)/1080);

  }
}

.hero-button {
  background: none;
  border: none;
  box-shadow: none;
  background: #000;
  border-radius: 50%;
  bottom: 24px;
  height: 48px;
  width: 48px;
  position: absolute;
  padding: 0;
  bottom: 48px;
  pointer-events: auto;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s cubic-bezier(.645, .045, .355, 1)
}

@media(min-width:46.25em) {
  .hero-button {
    bottom: 32px;
    height: 48px;
    width: 48px
  }
}

@media(min-width:61.25em) {
  .hero-button {
    bottom: 32px;
    height: 58px;
    width: 58px
  }
}

@media(min-width:75em) {
  .hero-button {
    bottom: 48px
  }
}

.hero-button img {
  transform: rotate(90deg) translateX(20%)
}

.hero.is-init .hero-button {
  opacity: 1;
  transition-delay: 1s
}

body.is-loading {
  overflow: hidden;
  height: 100vh;
}


.loader-visual {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1s ease;
}

.loader-visual__logo img {
  opacity: 0.7;
}

.loader-visual__bar {
  width: 60%;
  height: 4px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  overflow: hidden;
  border-radius: 4px;
}

.loader-visual__fill {
  width: 0%;
  height: 100%;
  background: white;
  transition: width 0.2s linear;
}

.loader-visual__start.hidden {
  opacity: 0;
  pointer-events: none;
}

.loader-visual__start {
  margin-top: 40px;
  transition: opacity 0.5s ease;
}

.loader-visual__button {
  background: white;
  color: black;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.intro-section {
  margin-top: 400px;
  position: relative;
  background: transparent;
  /* background-color: aqua; */
}

.text-3d {}

h2.is-large {
  font-size: 84px;
  line-height: 84px;
  /* opacity: 1; */
}

@media screen and (min-width:320px) {
  h2.is-large {
    font-size: calc(84px + 56*(100vw - 320px)/1080);
    line-height: calc(84px + 56*(100vw - 320px)/1080);
    margin: 0;
  }
}

@media screen and (min-width:1400px) {
  h2.is-large {
    font-size: 140px
  }
}

/* .intro-text {}

.intro-text p {
color: white;
opacity: 0;
pointer-events: none;
} */


/* Interview Question CSS */

.interview {
  display: flex;
  align-items: center;
  /* background-color: antiquewhite; */
  height: 240vh;
}

.interview__inner {
  /* background-color: aquamarine; */
  width: 100%;
  text-align: center;
  /* position: sticky;
top: 35vh; */
}

.interview {
  display: flex;
  flex-direction: column;
  perspective: 800px;
}

.interview-video {
  height: 50vh;
  margin-left: 30vw;
  width: 100%;
  /* background-color: rgb(118, 58, 58); */
  perspective: 900px;
  position: relative;
  /* opacity: 0.2; */
}

.heros-video {
  height: 100%;
  width: 100%;
  object-fit: contain;
  z-index: 99999999;
}

.video-placeholder {
  position: absolute;
  top: 0;
  left: 220;
  width: 40vw;
  /* height: 60vh; */
  /* background-color: aqua; */
  border-radius: 20px;
  opacity: 1;
}

h2 {
  /* background-color: aqua; */
  color: rgb(0, 0, 0);
}

.interview-question {
  margin: 0;
  /* Remove default browser spacing */
  line-height: 1.1;
  font-size: clamp(32px, 3vw, 72px);
  display: block;
  /* ensures predictable stacking */

  color: white;
  font-size: 80px;
  /* line-height: 80px !important; */
  transform-style: preserve-3d;
  transform-origin: center center;
  backface-visibility: hidden;
  -webkit-mask-image: linear-gradient(to left, #000 50%, transparent 100%);
  mask-image: linear-gradient(to left, #000 50%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: right top;

  opacity: 1;
  /* transition: opacity 0.2s ease-out; */
}

.interview__inner {
  perspective: 800px;
}


/* Intro section CSS */

.intro-section {
  /* background-color: brown; */
  /* height: 100vh; */
  width: 100%;
  height: 140vh;
}

.intro-headlines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}

.intro-inner {
  height: 100%;
  width: 100%;
}

.is-large {
  width: 100%;
  font-size: 120px;
  color: aliceblue !important;
  z-index: 987;
  transform-style: preserve-3d;
  -webkit-mask-image: linear-gradient(to left, #000 0%, transparent 100%);
  mask-image: linear-gradient(to left, #000 0%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: right top;
  text-align: center;
}


/* Intro text CSS */

.intro-text {
  width: 100%;
  padding: 10vh 1rem 10vh;
  /* scroll space above + below */
}

.intro-text-text {
  max-width: 900px;
  margin: 0 auto;
}

.gradient-overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50vh;
  /* bottom half of screen */
  pointer-events: none;
  background: linear-gradient(to top, black 30%, transparent 100%);
  /* mix-blend-mode: multiply; */
  transition: opacity 0.4s ease-out;
  z-index: 10;
  opacity: 0;
}

.gradient-overlay.hide {
  opacity: 0;
}

.js-text-block {
  font-size: 2rem;
  color: #fff;
  opacity: 1;
  font-weight: 500;
  line-height: 1.2;
  margin: 3rem 0;
  will-change: opacity;
  transition: opacity 0.4s ease-out;
}


/* Gallery CSS */


.cust-slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Wrapper for slides */
.cust-slider-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 0 600px;
  /* space at ends */
}

/* Individual slides */
.cust-slide {
  width: 400px;
  height: 500px;
  flex-shrink: 0;
  background: #e3e3e3;
  overflow: hidden;
  transform-origin: center center;
}

.cust-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}